@model ProjectManagement.WebUI.Models.TaskViewModel

@using ProjectManagement.WebUI.Helpers

@{
    ViewBag.Title = "EditTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditTask</h2>

@using (Html.BeginForm("EditTask", "Task"))

{
    @Html.EditorFor(model => model.Id)

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Status, Model.StatusAll, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label" })
            @CustomHelper.ClassedDropDownList(Model.Priority.ToString(), Model.PriorityAll)
            @Html.DropDownListFor(model => model.Priority, Model.PriorityAll, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-8">
            <input type="submit" class="btn btn-default pull-right" value="Save" />
        </div>
    </div>

    @Html.ActionLink("Cancel and return to List", "ViewProjects", "Home")
}

