@model ProjectManagement.WebUI.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Base.cshtml";
}

<div class="container">
    <div class="form-centered form-sm">
        <h1>Вход в систему</h1>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset class="form-group">
                @Html.LabelFor(m => m.Email)
                <br />
                @Html.ValidationMessageFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(m => m.Password)
                <br />
                @Html.ValidationMessageFor(m => m.Password)
                @Html.EditorFor(m => m.Password, new {htmlAttributes = new {@class = "form-control"}})
            </fieldset>

            <fieldset class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary pull-right"/>
                @Html.ActionLink("Забыли пароль?", "ResetPass", "Account", null,  new { htmlAttributes = new { @class = "pull-left" } })
            </fieldset>
        }
    </div>
</div>
