@model ProjectManagement.WebUI.Models.ResetPassViewModel

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_Base.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <h1>Восстановление пароля</h1>

    <div class="form-centered form-sm">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Sumbit" class="btn btn-default pull-right"/>
            @Html.ActionLink("Обратно", "Login")
        </div>
    </div>
}