@model ProjectManagement.WebUI.Models.UserPageViewModel

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои данные</h2>

@using (Html.BeginForm())
{
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.IsNotification, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.IsNotification, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.IsNotification, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Сохранить" class="btn btn-default pull-right" />
            </div>
        </div>
}