@model ProjectManagement.WebUI.Models.UserPageViewModel

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои данные</h2>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label"})
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label"})
        @Html.DisplayFor(model => model.Email)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.IsNotification, htmlAttributes: new {@class = "control-label"})
        @Html.DisplayFor(model => model.IsNotification)
    </div>
</div>

<h3>Мои задания:</h3>


@if (Model.Tasks != null)
{
    Html.RenderPartial("~/Views/Shared/Partials/_TaskTableView.cshtml", Model.Tasks);
}