@model ProjectManagement.WebUI.Models.UserPageViewModel

@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои данные</h2>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label"})
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label"})
        @Html.DisplayFor(model => model.Email)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.IsNotification, htmlAttributes: new {@class = "control-label"})
        @Html.DisplayFor(model => model.IsNotification)
    </div>
</div>

<h3>Мои задания:</h3>

<table class="table">
    <tr>
        <th>Задание</th>
        <th>Статус</th>
    </tr>
    @foreach (var task in Model.Tasks)
    {
        <tr class="@(task.PriorityCssClass)">
            <td>@Html.ActionLink(task.Name, "ViewTask", "Task", new { id = task.Id }, null)</td>
            <td>@(task.Status)</td>
        </tr>
    }
</table>