@model ProjectManagement.WebUI.Models.ProjectPageViewModel

@{
    ViewBag.Title = "ProjectPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Проект: @Html.DisplayFor(model => model.Name)</h2>

<div class="row">
    <div class="col-sm-10">
        <h3>Описание</h3>

        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<h3>Участинки проекта</h3>

<div>
    <ul class="list-commasepareted">
        @foreach (var user in Model.UsersInvolved)
        {
            <li>
                @Html.ActionLink(user.Name, "UserPage", new {controller = "Account", id = user.Id})
            </li>
        }
    </ul>
</div>

<h3>Задания</h3>

<table class="table">
    <tr>
        <th>
            @Html.Label("Task")
        </th>
        <th>
            @Html.Label("User")
        </th>
    </tr>
    @foreach (var task in Model.TasksInvolved)
        {
        <tr>
            <td>@Html.ActionLink(task.Item1.name, "EditTask", "Task", new { id = task.Item1.id }, null)</td>
            <td>@Html.ActionLink(task.Item2.name, "UserPage", "Account", new { id = task.Item2.id }, null)</td>
        </tr>
    }
</table>

